html { height: 100% }
body { min-height: 100%; background-color: rgb(48, 48, 48);}

#myCanvas{
    background-color: skyblue;
    display: block;
    border: 2px solid;
    margin:auto;
}

#myScore{
    background-color: rgb(48, 48, 48);
    margin:auto;
    display: none;
}
